<p>
  <h1>Welcome to Data 4 Good</h1><br>
</p>
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
      
      <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
        <img width="100%" alt="Google sign-in" src="https://simphy.com/google-signin-button.png" />


      </a>
    </div>
    <div class="col-5"></div>
  </div>