<footer style="font-size:30px">
  <a href="/">
  </a>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  var selectedPlayer = []
  $('.dropdown-menu a').on('click', function () {
    var text = $(this).html();
    if (selectedPlayer.indexOf(text) == -1) {
      selectedPlayer.push(text)

      $(this).closest('.dropdown').find('.dropdown-toggle').html(text);
      $(".submit-btn").attr("disabled", false)
      $(".submit-btn").css("color", "red")
    }
  });
</script>
</body>

</html>